
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     --color1:#369AD9;
    --color2:#36ABD9;
    --color3:#4E733D;
    --color4:#D97B29;
    --color5: #252850
   
}
body {
    background: linear-gradient(to bottom, #369AD9, #88d0ec);
}

.header_section {
    background: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px #ccc;
    background: linear-gradient(to bottom, #369AD9, #88d0ec);
}
header img{
    height: 100px;
    width: 20px auto;
    padding-left: 30px;
    }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding-right: 30px;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.titulo_animado {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    animation: fadeIn 3s ease-in-out;
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-15px); }
    to { opacity: 1; transform: translateY(0); }
}

.grid h2{
    color: var(--color3);
}
.grid p{
    color: var(--color5);
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
}

.card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px #133f51;
}
.card h3{
    color: var(--color3);
}
.card label{
    color: var(--color5);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.form_card input,
.form_card textarea,
.form_card button {
    width: 100%;
    padding: 9px;
    margin-top: 8px;
}

.form_card button {
    background:var(--color4);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.valores_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}

.valor_card {
    background: #ffffff;
    padding: 35px 25px;
    border-radius: 18px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
    text-align: center;
    transition: transform 0.3s ease;
}

.valor_card:hover {
    transform: translateY(-5px);
}


.icon_box {
    width: 65px;
    height: 65px;
    margin: 0 auto 15px auto;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_box i {
    font-size: 28px;
    color: #333;
}


.icon_azul      { background-color: #c5f0ff; }
.icon_rosa      { background-color: #ffd9ec; }
.icon_naranja   { background-color: #ffe3c4; }


.valor_card h3 {
    color: var(--color3);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.valor_card p {
    color: var(--color5);
    font-size: 15px;
    margin: 0;
}

/* responsive */
@media (max-width: 900px) {
    .valores_section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .valores_section {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */
.footer_section {
    background: var(--color2);
    padding: 30px;
    text-align: center;
}
footer a{
    color: white;
}
footer p{
    padding: 2px;
    color: white;
}
footer i{
    font-size: 1sem;
}

